{% extends 'base.html' %}

<head>
    {% block title %}PollMaker - Look-Up{% endblock title %}

    <link rel="stylesheet" type="text/css" href="../../staticfiles/admin/css/polllookup.css" media="screen" />
</head>

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Enter a Poll ID</h3>
            </div>
            <form class="example" action="submit">
                
                <input type="string" placeholder="Enter Poll ID">
                <button type="submit" href="{% url 'home' %}"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}